* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #2f3237;
  color: #e5eaf0;
  display: grid;
  grid-template-columns: 15% 1fr;
}
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
/* header */
.header {
  background-color: #2a2b2f;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  border-right: 1px solid #454f59;
  padding-top: 20px;
}
.header h1 {
  font-size: 18px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.header img {
  width: 26px;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
.main-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.item {
}
.item .item-link {
  display: block;
  padding: 15px;
  width: 100%;
  border: 1px solid #454f59;
  background-color: #2a2b2f;
  border-radius: 8px;
  transition: border 0.3s ease;
  text-decoration: none;
}
.item .item-link:hover {
  border-color: #fff;
}
.item img {
  width: 100%;
  border-radius: 8px;
}
.title {
  font-size: 18px;
  color: #e5eaf0;
  font-weight: 400;
  padding-top: 5px;
}
