* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
  background-color: #fafafa;
  color: #000;
}

img {
  max-width: 100%;
}

/* header */
.header {
  max-width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 439px;
  margin-bottom: 96px;
  padding-top: 110px;
}
h1.header-left {
  font-size: 36px;
  letter-spacing: -1.62px;
}
.header-right h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-right p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
main {
  padding-bottom: 110px;
}
.container {
  max-width: 930px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 67px;
}
#item-2,
#item-5 {
  margin-top: 100px;
}
.img-designation {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 30px;
}
.img-designation img {
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.img-designation .designation {
  width: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  writing-mode: vertical-rl;
}
.crew-name {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}
.footer {
  padding: 30px 0;
  background-color: #181818;
  color: #fafafa;
}

.footer p {
  font-size: 20px;
  text-align: center;
}
